<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Checkout\Model\DefaultConfigProvider"
                type="Sanv\Payment\Model\DefaultConfigProvider" />

    <virtualType name="ConfigProvider" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
                <argument name="code" xsi:type="const">Sanv\Payment\Model\Alipay::CODE</argument>
        </arguments>
    </virtualType>

    <type name="Sanv\Payment\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>

</config>
